/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f5f5f5;
  --neutral-color: #fff;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

.calendar {
  header {
    display: block;
    width: 100%;
    padding: 1.75em 0;
    border-bottom: 1px solid var(--border-color);
    background: var(--neutral-color);
    #logo {
      font-size: 175%;
      text-align: center;
      color: var(--main-color);
      line-height: 1;
      .icon {
        padding-right: .25em;
      }
    }
  }
  .row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .row-middle {
    align-items: center;
  }
  .col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-start {
    justify-content: flex-start;
    text-align: left;
  }
  .col-center {
    justify-content: center;
    text-align: center;
  }
  .col-end {
    justify-content: flex-end;
    text-align: right;
  }
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 115%;
    padding: 1.5em 0;
    border-bottom: 1px solid var(--border-color);
    .icon {
      cursor: pointer;
      transition: .15s ease-out;
      &:hover {
        transform: scale(1.75);
        transition: .25s ease-out;
        color: var(--main-color);
      }
      &:first-of-type {
        margin-left: 1em;
      }
      &:last-of-type {
        margin-right: 1em;
      }
    }
  }
  .days {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-color-light);
    font-size: 70%;
    padding: .75em 0;
    border-bottom: 1px solid var(--border-color);
  }
  .body {
    .row {
      .cell {
        position: relative;
        height: 5em;
        border-right: 1px solid var(--border-color);
        overflow: hidden;
        cursor: pointer;
        background: var(--neutral-color);
        transition: 0.25s ease-out;
        &:hover {
          background: var(--bg-color);
          transition: 0.5s ease-out;
        }
        .number {
          position: absolute;
          font-size: 82.5%;
          line-height: 1;
          top: .75em;
          right: .75em;
          font-weight: 700;
        }
      }
      border-bottom: 1px solid var(--border-color);
      .selected {
        border-left: 10px solid transparent;
        border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
        border-image-slice: 1;
      }
      .disabled {
        color: var(--text-color-light);
        pointer-events: none;
      }
    }
    .cell .bg {
      font-weight: 700;
      line-height: 1;
      color: var(--main-color);
      opacity: 0;
      font-size: 8em;
      position: absolute;
      top: -.2em;
      right: -.05em;
      transition: .25s ease-out;
      letter-spacing: -.07em;
    }
    .row .cell:hover .bg, .selected .bg {
      opacity: 0.05;
      transition: .5s ease-in;
    }
    .row .col {
      flex-grow: 0;
      flex-basis: calc(100%/7);
      width: calc(100%/7);
    }
  }
  .timeSelector {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    min-height: 60px;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #777;
    cursor: pointer;
    font-weight: 300;
    background-color: #fff;
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    transition: all 375ms ease-in-out;
    p {
      font-weight: 700;
      border-bottom: 1px solid #E0E0E0;
      padding: 20px 2%;
      width: 100%;
      display: block;
      margin: 0px;
      cursor: pointer;
    }
    .optionHolder .col {
      p {
        border-bottom: 0px;
      }
      text-align: center;
      font-weight: 700;
      flex-grow: 0;
      flex-basis: calc(100%/4);
      width: calc(100%/4);
      &:hover {
        background: var(--bg-color);
        transition: 0.5s ease-out;
      }
    }
    .optionSpacer {
      position: relative;
      float: left;
      width: 100%;
    }
    .optionHolder {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 999;
      overflow: hidden;
      width: 100%;
      background-color: var(--neutral-color);
      padding: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
      transition: all 375ms ease-in-out;
    }
    .active {
      height: auto;
    }
    .inactive {
      height: 0px;
    }
  }
}

/* GRID */

/* Calendar */

/* ///  Time Selector ///  */

/* Planning to animate .active height for smooth dropdown */
